body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cbdaf0; /* Fondo suave */
}

header {
    background-image: url('https://www.c4isrnet.com/resizer/v2/NMH5V755FFHNJJRA2SAEQRKTPE.jpg?auth=ffc34d9c8f229a45de1cee61ab84f64c9b16b0b2ec2785e87ebf081d1ad8951c&width=1024&height=744'); 
    background-size: cover; /* Esto asegura que la imagen cubra todo el área del header */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Opcional: cambiar el color del texto para que contraste con la imagen */
    padding: 60px;
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
}

header h1, header h2 {
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 1); /* Sombra de texto suave */
    position: relative;
    z-index: 2; /* Asegura que el texto esté sobre la imagen y cualquier overlay */
}


nav {
    margin-top: 5px; /* Espacio entre el header y el nav */
    background-color: #032e57; /* Gris más claro */
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

nav ul {
    list-style: none;
    padding: 0;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los enlaces */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #e9e9e9; /* Color de enlace brillante */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
}

nav ul li a:hover {
    background-color: rgba(147, 221, 235, 0.2); /* Fondo al pasar el mouse */
}

nav ul li a img, nav ul li a i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    vertical-align: middle; /* Alinear verticalmente con el texto */
}

main {
    padding: 20px;
}

.content-section {
    background-color: #0e508f; /* Fondo blanco para secciones */
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 20px 0; /* Margen entre secciones */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.content-section h2 {
    color: #fff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}

P {
    color: #fff;
    font-size: 20px; /* Ajusta según tu preferencia */
    }

/* Aumenta el tamaño de todas las etiquetas de la encuesta */
#socialMediaSurvey label {
    font-size: 20px; /* Ajusta a tu preferencia */
}

/* Aumenta el tamaño de todos los input */
#socialMediaSurvey input {
    font-size: 18px; /* Ajusta a tu preferencia */
}

/* Aumenta el tamaño del texto de los botones */
#socialMediaSurvey button {
    font-size: 20px; /* Ajusta a tu preferencia */
}

form {
    color: #fff;
}
footer {
    background-color: #032e57;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #ffcc00;
    transition: color 0.3s ease; /* Transición suave */
}

@media (max-width: 768px) {
    nav ul li {
        display: block; /* Adaptar a pantallas pequeñas */
        margin: 10px 0;
    }

    iframe {
        width: 100%; /* Hacer responsivos los videos */
        height: auto;
        text-align: center;
    }
}

#resultMessage p {
    font-size: 16px;
    margin-top: 10px;
}
